[project]
	description = Wiki about Slurm Cluster
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gabriele Iannetti (gabrieleiannetti)
[access "refs/for/refs/*"]
	read = group user/Gabriele Iannetti (gabrieleiannetti)
	push = group user/Gabriele Iannetti (gabrieleiannetti)
	label-Code-Review = -2..+2 group user/Gabriele Iannetti (gabrieleiannetti)
	label-Verified = -1..+1 group user/Gabriele Iannetti (gabrieleiannetti)
	rebase = group user/Gabriele Iannetti (gabrieleiannetti)
	removeReviewer = group user/Gabriele Iannetti (gabrieleiannetti)
	submit = group user/Gabriele Iannetti (gabrieleiannetti)
[access "refs/heads/*"]
	read = group user/Gabriele Iannetti (gabrieleiannetti)
	create = group user/Gabriele Iannetti (gabrieleiannetti)
	push = +force group user/Gabriele Iannetti (gabrieleiannetti)
	pushMerge = group user/Gabriele Iannetti (gabrieleiannetti)
[access "refs/tags/*"]
	push = group user/Gabriele Iannetti (gabrieleiannetti)
	push = +force group user/Gabriele Iannetti (gabrieleiannetti)
